<h2 class="text-center">Router</h2>
<mat-selection-list #shoes [multiple]="false" class="text-center">
    <mat-list-option routerLink="/" >
        Home
    </mat-list-option>
    
    <mat-list-option routerLink="/profile">
        Profile
    </mat-list-option>
    
    <mat-list-option routerLink="/register">
        Register
    </mat-list-option>

    <mat-list-option routerLink="/login">
        Login
    </mat-list-option>
    
    <app-categories></app-categories>
  </mat-selection-list>