<div class="container">
    <h1 class="text-center">Update</h1>
    <form [formGroup]="applicationAddForm">

        <div class="form-floating mb-3">

            <mat-form-field class="example-full-width">
                <mat-label>Developer</mat-label>
                <input type="number" matInput placeholder="developerId" formControlName="developerId" [value]="developerId">
                
            </mat-form-field>
        </div>

        <div class="form-floating mb-3">

            <mat-form-field class="example-full-width">
                <mat-label>Application Name</mat-label>
                <input type="text" matInput placeholder="applicationName" formControlName="applicationName" [value]="applicationName">
                
            </mat-form-field>
        </div>
        <div class="form-floating mb-3">

            <mat-form-field class="example-full-width">
                <mat-label>Description</mat-label>
                <input type="text" matInput placeholder="description" formControlName="description" [value]="applicationDescription">
                
            </mat-form-field>
        </div>
        <div class="form-floating mb-3">

            <mat-form-field class="example-full-width">
                <mat-label>Application Path</mat-label>
                <input type="text" matInput placeholder="applicationPath" formControlName="applicationPath" [value]="applicationPath">
                
            </mat-form-field>
        </div>
        <div class="form-floating mb-3">

            <mat-form-field class="example-full-width">
                <mat-label>Icon Path</mat-label>
                <input type="text" matInput placeholder="iconPath" formControlName="iconPath" [value]="applicationIconPath">
                
            </mat-form-field>
        </div>

        <div class="form-floating mb-3">
            <mat-form-field appearance="fill">
                <mat-label>Category select</mat-label>
                <mat-select  name="food"  formControlName="categoryId">
                  <mat-option [value]="category.id" *ngFor="let category of categories" >
                      {{category.categoryName}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="d-grid gap-2">
            <button mat-flat-button color="primary" (click)="applicationUpdate()"> Update </button>
        </div>
    </form>
    <hr>
    <h2 class="text-center m-lg-5">Burada uygulamanızın fotoğrafını test edebilirsiniz</h2>
    <img class="img-thumbnail w-25" [src]="testIconPath">
    <mat-form-field class="example-full-width mb-5">
        <mat-label>Icon Path Test</mat-label>
        <input type="text" matInput placeholder="Icon path" [(ngModel)]="testIconPath" >
    </mat-form-field>
</div>