<form [formGroup]="loginAddForm">

    <div class="form-floating mb-3">
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="text" matInput placeholder="email"  formControlName="email">
            <mat-hint>Not Null</mat-hint>
        </mat-form-field>
    </div>
    <div class="form-floating mb-3">
        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="password"  formControlName="password">
            <mat-hint>Not Null</mat-hint>
        </mat-form-field>
    </div>
    <div class="d-grid gap-2">
        <button mat-flat-button color="primary" (click)="login()">Login </button>
    </div>
</form>